<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletContextConfigDB</display-name>
  <welcome-file-list>
    <welcome-file>EmployeeRegistration.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatabaseDemo</display-name>
    <servlet-name>DatabaseDemo</servlet-name>
    <servlet-class>ServletContextDB.DatabaseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseDemo</servlet-name>
    <url-pattern>/DatabaseDemo</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>username</param-name>
    <param-value>scott</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>tiger</param-value>
  </context-param>
  <context-param>
    <param-name>db_connection</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>connection_url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>RegisterEmpServlet</display-name>
    <servlet-name>RegisterEmpServlet</servlet-name>
    <servlet-class>ServletContextDB.RegisterEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmpServlet</servlet-name>
    <url-pattern>/RegisterEmpServlet</url-pattern>
  </servlet-mapping>
</web-app>